*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
}

header{
	background-color: #151515;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

body{
	height: 1500px;
	background-color: #F0F0F0;
}

.row{
	margin-right: 0px;
}

#logo{
	color: #FFBC21;
	text-transform: uppercase;
	font-size: 30px;
	margin-left: 70px;
	letter-spacing: 2px;
}

.navbar{
 background: #151515;
}

.nav-link{
 margin-right: 1em !important;
 color: #fff;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.navbar-collapse{
 justify-content: flex-end;
}

.leftMenu{
	margin-top: 70px;
	height: 100vh;
	width: 300px;
	background-color: #F3F3F3;
	position: fixed;
	padding: 0px;
}

.centerBlock{
	width: 800px;
	margin: 0 auto;
	margin-top: 70px;

}


.chatBlock{
	border: 1px solid #F3F3F3;
	width: 300px;
	position: fixed;
	margin-top: 70px;
	left: auto;
	right: 0;
	height: 100vh;
	background-color: #F3F3F3;
	padding: 0px;
	overflow: hidden;
}

.button_menu{
	text-align: center;
	width: 100%;
}
.button_menu_open{
	text-align: left;
	margin-left: 30px;
	width: 100%;
	display: none;
	margin-top: 0px;
}
#arrow_right{
	transform: rotate(180deg);
}
.buttin_menu_left{
	width: 100%;
	padding: 5px;
	font-size: 21px;
	margin-top: 15px;
	color: #000;
}

.ico_menu{
	margin-left: 20px;

}

.name_button{
	margin-left: 15px;
}

.zagl_block{
	border: 1px solid #151515;
	width: 100%;
	padding: 20px;
	text-align: center;
	background-color: #151515;
	margin-top: 0px;
}

.text_chat_closed{
	border: 3px solid #fff;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	z-index: 99999;
}

.text_chat_open{
	border: 3px solid #fff;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	z-index: 99999;
	display: none;
}

.button_chat{
	cursor: pointer;
	transition: 0.5s;
}

.button_chat:hover{
	cursor: pointer;
	background-color: #fff;
	color: #000;
	transition: 0.5s;
}


.cont{
	padding: 10px;
	text-align: center;	
	width: 250px
}

.text_name_cont{
	margin-left: 7px;
	font-size: 	19px;
}


#circle_online{
	animation: rotate 4s linear 0s;
	animation-iteration-count: 	infinite;	
}


@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


.chat_content{
	background-color: #D5D5D5;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}

.block_user_write{
	border: 1px solid #fff;
}

#write_message{
	width: 100%;
	font-size: 17px;
	padding: 8px;
}

.button_send_message{
	border: 1px solid #FF4157;
	background-color: #FF4157;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	color: #fff;
}