*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
}

header{
	background-color: #151515;
	padding: 10px;
	position: fixed;
	width: 100%
}

.row{
	margin-right: 0px;
}

#logo{
	color: #FFBC21;
	text-transform: uppercase;
	font-size: 30px;
	margin-left: 70px;
	letter-spacing: 2px;
}





.navbar{
 background: #151515;
}

.nav-link{
 margin-right: 1em !important;
 color: #fff;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.navbar-collapse{
 justify-content: flex-end;
}